*~
aclocal.m4
autom4te.cache
configure
config.log
config.status
config.h.in
config.h
stamp-h1
depcomp
install-sh
missing
ar-lib
Makefile.in
Makefile
.deps
*.o
lib/cued/libcued.a
src/analyzer/sfanal
src/cued/cued
src/qdump/qdump
src/sfcat/sfcat
src/sfcmp/sfcmp
src/test/object
src/test/ob.h
lib/common/libcommon.a
lib/classc/libclassc.a
lib/firstcls/libfirstcls.a
lib/firstcls/firstcls.h
INSTALL
cued_config.h
